<div class="content-section">
  <nz-card>
    <nz-timeline [nzPending]="'development...'" [nzReverse]="true">
      <nz-timeline-item>2020-10-28 create ng-antd-admin</nz-timeline-item>
      <!-- <nz-timeline-item>2020-11-04 add page dashboard analysis</nz-timeline-item>
      <nz-timeline-item>2020-11-10 add page basic-form</nz-timeline-item>
      <nz-timeline-item>2020-11-11 add page step-form</nz-timeline-item>
      <nz-timeline-item>2020-11-12 add page advanced-form</nz-timeline-item>
      <nz-timeline-item>2020-11-13 add page list search-projects</nz-timeline-item>
      <nz-timeline-item>2020-11-14 add page list search-articles and search-applications</nz-timeline-item>
      <nz-timeline-item>2020-11-18 add page list table-list</nz-timeline-item>
      <nz-timeline-item>2020-11-19 add page list basic-list and card-list</nz-timeline-item>
      <nz-timeline-item>2020-11-20 add page profile basic and advanced</nz-timeline-item>
      <nz-timeline-item>2020-11-21 add page result and exception</nz-timeline-item>
      <nz-timeline-item>2020-11-23 add page account center</nz-timeline-item>
      <nz-timeline-item>2020-11-24 add page account settings</nz-timeline-item>
      <nz-timeline-item>2020-11-25 add page dashboard workplace</nz-timeline-item>
      <nz-timeline-item>2020-11-26 add page dashboard monitor</nz-timeline-item>
      <nz-timeline-item>2020-11-27 optimize menu</nz-timeline-item>
      <nz-timeline-item>2020-11-30 add header</nz-timeline-item>
      <nz-timeline-item>2020-12-01 add user login</nz-timeline-item>
      <nz-timeline-item>2020-12-02 add user register and register-result</nz-timeline-item>
      <nz-timeline-item>2020-12-03 add drawer menu</nz-timeline-item>
      <nz-timeline-item>2020-12-04 add drawer menu style</nz-timeline-item>
      <nz-timeline-item>2021-02-23 rename ng-antd-admin, support angular 9 and ng-zorro-antd 9</nz-timeline-item> -->
      <nz-timeline-item>2021-02-23 <a (click)="migration('v10')">upgrade 10</a></nz-timeline-item>
      <nz-timeline-item>2021-03-01 <a (click)="migration('v11')">upgrade 11</a></nz-timeline-item>
      <!-- <nz-timeline-item>2021-03-02 menu add collapse</nz-timeline-item> -->
    </nz-timeline>
  </nz-card>
</div>
