<div class="content-section">
  <nz-card>
    <nz-timeline [nzPending]="'development...'" [nzReverse]="true">
      <nz-timeline-item>2020-10-28 create ng-antd-admin, support angular 9 and ng-zorro-antd 9</nz-timeline-item>
      <nz-timeline-item>2021-02-23 <a (click)="migration('v10')">upgrade 10</a></nz-timeline-item>
      <nz-timeline-item>2021-03-01 <a (click)="migration('v11')">upgrade 11</a></nz-timeline-item>
      <nz-timeline-item>2021-07-21 <a (click)="migration('v12')">upgrade 12</a></nz-timeline-item>
    </nz-timeline>
  </nz-card>
</div>
