<nz-layout class="layout">
  <nz-sider>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container *ngFor="let menu of menuList">
        <li *ngIf="!menu.children" nz-menu-item nzMatchRouter>
          <a [routerLink]="menu.link">
            <i nz-icon [nzType]="menu.icon" nzTheme="outline"></i>
            <span>{{menu.title}}</span>
          </a>
        </li>
        <li *ngIf="menu.children" nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" routerLinkActive
          #rla="routerLinkActive" [nzOpen]="rla.isActive">
          <ul>
            <ng-container *ngFor="let childMenu of menu.children">
              <li *ngIf="!childMenu.children" nz-menu-item nzMatchRouter>
                <a [routerLink]="childMenu.link">
                  <span>{{childMenu.title}}</span>
                </a>
              </li>
              <li *ngIf="childMenu.children" nz-submenu [nzTitle]="childMenu.title" routerLinkActive
                #rlaG="routerLinkActive" [nzOpen]="rlaG.isActive">
                <ul>
                  <ng-container *ngFor="let grandson of childMenu.children">
                    <li nz-menu-item nzMatchRouter>
                      <a [routerLink]="grandson.link">
                        <span>{{grandson.title}}</span>
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header></nz-header>
    <nz-content>
      <div class="orna-circle" style="left: 40%;"></div>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>sky-admin ©2020 Implement By llkui</nz-footer>
  </nz-layout>
</nz-layout>
