:host ::ng-deep {
  .ant-card-hoverable {
    cursor: inherit;
  }

  .dynamicList {
    .ant-list-item-meta-title {
      color: rgba(0, 0, 0, .85);
    }

    a {
      color: #1890ff;
    }

    .dynamicUser {
      color: rgba(0, 0, 0, .85);
    }
  }

  .linkGroup {
    a {
      display: inline-block;
      width: 25%;
      margin-bottom: 13px;
      color: rgba(0, 0, 0, .85);
      font-size: 14px;

      &:hover {
        color: #1890ff;
      }
    }

    button {
      color: #40a9ff;
      border-color: #40a9ff;
    }
  }

  .team {
    a {
      display: block;
      margin-bottom: 24px;
      overflow: hidden;
      color: rgba(0, 0, 0, .85);
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      transition: color .3s;

      &:hover {
        color: #1890ff;
      }
    }

    .ant-avatar {
      margin-right: 12px;
    }
  }

  .legendItem {
    position: relative;
    text-align: center;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 8px;
      right: 0;
      width: 1px;
      height: 40px;
      background-color: #f0f0f0;
      content: "";
    }

    &:last-child:after {
      content: none;
    }

    p {
      margin: 0;
    }

    h6 {
      margin-top: 4px;
      margin-bottom: 0;
      padding-left: 16px;
      color: rgba(0, 0, 0, .85);
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.content {
  display: flex;

  .main {
    flex: auto;
    display: flex;
  }

  .info {
    position: relative;
    top: 4px;
    flex: 1 1 auto;
    margin-left: 24px;
    color: rgba(0, 0, 0, .45);
    line-height: 22px;
  }

  .title {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, .85);
    font-size: 20px;
    line-height: 28px;
  }
}

.extra {
  display: flex;

  .statItem {
    position: relative;
    display: inline-block;
    padding: 0 32px;
    text-align: right;

    &:after {
      position: absolute;
      top: 8px;
      right: 0;
      width: 1px;
      height: 40px;
      background-color: #f0f0f0;
      content: "";
    }

    &:last-child:after {
      content: none;
    }
  }
}

.projectName {
  display: inline-block;
  height: 24px;
  margin-left: 12px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;

  &:hover {
    color: #1890ff;
  }
}

.projectDesc {
  display: -webkit-box;
  height: 44px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projectInfo {
  margin-top: 8px;
  font-size: 12px;

  .projectGroup {
    color: rgba(0, 0, 0, .45);

    &:hover {
      color: #1890ff;
    }
  }
}
