:host ::ng-deep {
  .ant-tag {
    font-size: 14px;
    cursor: pointer;
    margin-right: 24px;
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .standard {
    margin-bottom: 16px;
    padding-bottom: 11px;
    border-bottom: 1px dashed #f0f0f0;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .standard-label {
    flex: 0 0 auto;
    margin-right: 24px;
    color: rgba(0, 0, 0, .85);
    text-align: right;
    line-height: 32px;
  }

  .standard-content {
    line-height: 32px;
    transition: all .3s;
    overflow: hidden;

    &.hasExpanded {
      max-height: 32px;

      &.expanded {
        max-height: 200px;
      }
    }
  }

  .ant-select.max-width {
    max-width: 200px;
    width: 100%;
  }

  .select-trigger {
    line-height: 32px;
  }

  .user-title {
    font-size: 12px;
  }

  .user-number {
    color: rgba(0, 0, 0, .85);
    font-size: 24px;
    line-height: 32px;
  }

  .user-unit {
    color: rgba(0, 0, 0, .85);
    margin-left: 2px;
  }

  .ant-card-actions {
    background: #ffffff;
  }

  .ant-avatar {
    width: 24px;
    height: 24px;
  }
}
