:host ::ng-deep {
  .ant-tag {
    font-size: 14px;
    cursor: pointer;
    margin-right: 24px;
  }

  .standard {
    margin-bottom: 16px;
    padding-bottom: 11px;
    border-bottom: 1px dashed #f0f0f0;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .standard-label {
    flex: 0 0 auto;
    margin-right: 24px;
    color: rgba(0, 0, 0, .85);
    text-align: right;
    line-height: 32px;
  }

  .standard-content {
    line-height: 32px;
    max-height: 32px;
    transition: all .3s;
    overflow: hidden;

    &.expanded {
      max-height: 200px;
    }
  }

  .ant-select {
    max-width: 200px;
    width: auto;
  }

  .select-trigger {
    line-height: 32px;
  }

  .ant-card-meta-description {
    height: 44px;
    overflow: hidden;
    line-height: 22px;
    color: rgba(0, 0, 0, .85);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .cardItemContent {
    margin-top: 16px;

    &>span {
      flex: 1 1;
      color: rgba(0, 0, 0, .45);
      font-size: 12px;
    }
  }

  .cardItemMember {
    .ant-avatar {
      width: 24px;
      height: 24px;
      margin-left: -8px;
    }
  }

  .ant-card:hover .ant-card-meta-title {
    color: #1890ff;
  }
}
