:host ::ng-deep {
  .ant-card-body {
    padding: 0;
  }
}

.main {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;

  .leftMenu {
    width: 224px;
  }

  .right {
    flex: 1 1;
    padding: 8px 40px;
  }
}

.title {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, .85);
  font-size: 20px;
  line-height: 28px;
}

.baseView {
  display: flex;
  padding-top: 12px;
}

.view-left {
  min-width: 224px;
  max-width: 448px;
}

.view-right {
  flex: 1 1;
  padding-left: 104px;
}

.avatar-title {
  height: 22px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, .85);
  line-height: 22px;
}

.ant-avatar {
  margin-bottom: 12px;
}

.avatar-upload {
  width: 144px;
  text-align: center;
}

:host ::ng-deep {
  .ant-menu-item-selected {
    font-weight: 600;
  }

  .ant-list-item-meta-title {
    color: rgba(0, 0, 0, .85);
  }

  .ant-list-item-meta-avatar {
    width: 48px;
    height: 48px;

    i svg {
      width: 48px;
      height: 48px;
    }
  }
}
